.App {
  text-align: center;
}

#root, html {
  background-image: url("./farm.jpeg")
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fight {
  width: 45%;
  background-color: rgba(255, 0, 47, 0.26);
  display: inline-flex;
  justify-content: space-evenly;
  border: solid black 2px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.animal {
  display: flex;
  flex-direction: column;
}

button {
  margin: 3px;
}

.sign {
  display: flex;
  flex-direction: column;
  /* background-color: orangered; */
  justify-content: center;
  align-items: center;
}

.open-sign {
  width: 200px;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgba(255, 0, 0, 0.692) solid 5px;
  border-radius: 10px;
  margin-top: 50px; 
}

.sign h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.parade {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(65, 105, 225, 0.386); */
  font-size: larger;
}

.animal-buttons {
  margin-top: 10px;
}

.animal-parade {
  width: fit-content;
  background-color:rgba(65, 105, 225, 0.475);
  border: royalblue 1px solid;
  border-radius: 5px;
}

